DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,192.168.1.100

# DJANGO_PORT=8000
# DJANGO_WORKERS=2

# 非必填，不配置时首次启动自动创建管理员账号
# DJANGO_SUPERUSER_USERNAME=
# DJANGO_SUPERUSER_PASSWORD=
# DJANGO_SUPERUSER_EMAIL=

